.searchform {
    padding: 0 70px 0 70px;
}

.searchform__filterCheckBox {
    margin: 70px 0 79px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchform__container {
    background-color: #F4F4F4;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchform__icon {
    width: 34px;
    height: 34px;
    margin: 19px 0 19px 19px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    background-color: #F4F4F4;
    background-image: url(../../images/lupa.svg);
    display: block;
}

.searchform__input-container {
    width: 750px;
}

.searchform__input {
    margin: 25px 0 25px 10px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    background-color: #F4F4F4;
    border: none;
    outline: none;
}

.searchform__find-container {
    width: 80px;
    height: 34px;
    margin: 19px 0 19px 0;
    padding: 0;
}

.searchform__find {
    width: 34px;
    height: 34px;
    margin: 0 0 0 46px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    background-color: #F4F4F4;
    background-image: url(../../images/find.svg);
}

.searchform__separator {
    width: 1px;
    height: 40px;
    margin: 16px 29px 16px 30px;
    padding: 0;
    background: #E8E8E8;
}

.searchform__line {
    height: 1px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    background: #E8E8E8;
}

@media screen and (max-width: 768px) {
    .searchform {
        padding: 0 30px 0 30px;
    }
    .searchform__filterCheckBox {
        margin: 80px 0 119px 0;
    }

    .searchform__input-container {
        width: 348px;
    }

    .searchform__separator {
        margin: 16px 19px 16px 19px;
    }
}

@media screen and (max-width: 540px) {
    .searchform {
        padding: 0 10px 0 10px;
    }
    
    .searchform__filterCheckBox {
        margin: 80px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .searchform__container {
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
    }

    .searchform__input-container {
        width: 182px;
    }

    .searchform__input {
        margin: 25px 0 19px 10px;
        padding: 0;
        font-size: 14px;
        line-height: 20px;;
    }
    .searchform__icon {
        width: 0;
        margin: 0;
    }

    .searchform__find-container {
        margin: 19px 19px 19px 0;
    }

    .searchform__separator {
        width: 0;
        margin: 0;
    }
    .searchform__line {
        margin-bottom: 0;
    }
}