.techs {
    height: 625px;
    margin: 0 auto;
    padding: 0 70px 0 70px;
    background-color: #F5F5F5;
}

.techs__name {
    max-width: 1140px;
    height: 27px;
    margin: 0 auto;
    padding: 100px 0 23px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0);
}

.techs__title {
    max-width: 600px;
    height: 58px;
    margin: 0 auto;
    margin-top: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}

.techs__subtitle {
    max-width: 460px;
    height: 40px;
    margin: 0 auto;
    margin-top: 26px;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}

.techs__icons {
    margin: 0 auto;
    margin-top: 100px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 90px);
    column-gap: 10px;
    justify-content: center;
}

.techs__icon {
    max-width: 90px;
    height: 60px;
    background: #E8E8E8;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .techs {
        min-height: 567px;
        padding: 0 50px 0 50px;
    }
    .techs__name {
        padding: 0 0 23px 0;
    }
    .techs__title {
        margin-top: 80px;
    }
    .techs__subtitle {
        margin-top: 22px;
    }
    .techs__icons {
        margin-top: 83px;
    }
    .techs__icon {
        max-width: 84px;
        height: 57px;
        background: #E8E8E8;
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 540px) {
    .techs {
        height: 511px;
        padding: 70px 18px 70px 18px;
        background-color: #FAFAFA;
    }

    .techs__name {
        max-width: 292px;
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
    }

    .techs__title {
        max-width: 292px;
        height: 36px;
        margin-top: 60px;
        font-size: 30px;
        line-height: 36px;
    }
    .techs__subtitle {
        max-width: 292px;
        height: 32px;
        margin-top: 24px;
        font-size: 11px;
        line-height: 16px;
    }

    .techs__icons {
        margin-top: 50px;
        grid-template-columns: repeat(2, 84px);
        gap: 10px 10px;
    }
}